<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="dashboard-tab" data-toggle="tab" ng-href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sources-tab" data-toggle="tab" ng-href="#sources" role="tab" aria-controls="sources" aria-selected="true">Sources</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="saved-articles-tab" data-toggle="tab" ng-href="#savedArticles" role="tab" aria-controls="savedArticles" aria-selected="false">Saved Articles</a>
    </li>
</ul>

<p class="lead mt-5" ng-show="model.articles.length === 0">None</p>
<div class="mt-5">
    <div class="jumbotron" ng-repeat="article in model.articles">
        <a ng-href="{{article.url}}" target="_blank"><h2>{{article.title}}</h2></a>
        <p>{{model.convertDate(article.publishedAt)}}</p>
        <p class="lead">{{article.description}}</p>
        <hr class="my-4">
        <a ng-href="{{article.url}}" target="_blank"><img class="article-image" ng-src="{{article.urlToImage}}"></a>
        <img class="icon-delete" ng-click="model.deleteSavedArticleForUser(article.url)" src="client/static/icons/delete.png">
    </div>
</div>