<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" ng-href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sources-tab" data-toggle="tab" ng-href="#sources" role="tab" aria-controls="sources" aria-selected="true">Sources</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="saved-articles-tab" data-toggle="tab" ng-href="#savedArticles" role="tab" aria-controls="savedArticles" aria-selected="false">Saved Articles</a>
    </li>
</ul>

<div class="mt-5 card-container">
    <div class="card border border-primary" ng-repeat="source in model.sources">
        <div class="card-header"><h4>{{source.name}}</h4></div>
        <div class="card-body">
            <p class="card-text">{{source.description}}</p>
        </div>
        <div class="card-footer">
            <a ng-click="model.getTopArticlesBySource(source.id)" class="btn btn-primary">View top articles</a>
        </div>
    </div>
</div>