body{
    margin: 20px;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
}

.card{
    margin: 5px;
    width: 30%;
}

.article-image{
    width: 50vw;
    height: auto;
}

.article-image:hover {
    cursor: pointer;
    outline: 2px solid black;
}

.icon-favorite{
    cursor: pointer;
    float: right;
}

.icon-delete{
    cursor: pointer;
    float: right;
}

.btn-logout{
    margin-top: 10px;
    float:right;
}

.footer {
    padding-left: 10px;
    position: fixed;
    height: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
}