<div>
    <a ng-href="#/dashboard">Back to Dashboard</a>
    <div class="mt-5 jumbotron" ng-repeat="article in model.articles">
        <a ng-href="{{article.url}}" target="_blank"><h2>{{article.title}}</h2></a>
        <p>{{model.convertDate(article.publishedAt)}}</p>
        <p class="lead">{{article.description}}</p>
        <hr class="my-4">
        <a ng-href="{{article.url}}" target="_blank"><img class="article-image" ng-src="{{article.urlToImage}}"></a>
        <img class="icon-favorite" ng-click="model.saveArticle(article)" ng-src="{{model.isFavorite(article)}}">
    </div>
</div>