<div>
    <a ng-href="#/dashboard">Back to Dashboard</a>
    <div class="mt-5 jumbotron" ng-repeat="article in model.articles">
        <div class="row">
            <div class="col-10">
                <a ng-href="{{article.url}}" target="_blank"><h2>{{article.title}}</h2></a>
                <p>{{model.convertDate(article.publishedAt)}}</p>
                <p class="lead">{{article.description}}</p>
            </div>
            <div class="col-2">
                <div class="float-right">
                    <p>Save Article</p>
                    <img class="icon-favorite" ng-click="model.saveArticle(article)" ng-src="{{model.isSaved(article)}}">
                </div>
            </div>
        </div>

        <hr class="my-4">
        <a ng-href="{{article.url}}" target="_blank"><img class="article-image" ng-src="{{article.urlToImage}}"></a>

    </div>
</div>